.well {
    padding-top: 176px;
}

.info_text {
    font-size: 24px;
    line-height: 150%;
    margin-right: 18px;
}
.info {
    margin: 0 320px 0 120px;
    padding-bottom: 150px;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;
    padding-top: 56px;
}
.info {
    display: flex;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 188px;
}

.list_item {
    list-style-type: none;
    line-height: 130%;
    width: 150px;
}

.list_item-text {
    padding-top: 8px;
}

.text {
    margin-bottom: 35px;
}
.list_item_one {
    margin-left: 120px;
    padding-top: 8px;
}
.list_text {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.list_par {
    font-size: 18px;
    display: block;
}

@media screen and (max-width: 1279px) {

    .well {
        padding-top: 100px;
    }

    .info_text {
        margin-right: 86px;
    }

    .text {
        margin-bottom: 22px;
    }

    .info_text p {
        font-size: 14px;
        line-height: 150%;
        /* margin-right: 20px; */
    }

    .box {
        padding-top: 30px;
        margin-bottom: 32px;
    }

    .img_cam {
        width: 230px;
        height: 214px;
        /* margin-right: 20px; */
    }

    .list_cam {
        width: 160px;
        height: 140px;
        padding-right: 10px;
    }

    .list_text {
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 0px;
    }

    .list_par {
        font-size: 11px;
        line-height: 130%;
        width: 92px;
    }

    .list {
        padding-right: 60px;
    }

    .list_item {
        padding-top: 0;
        
    }

    .list_item_one {
        margin-left: 62px;
        padding-top: 0px;
    }

}

@media screen and (max-width: 834px) {
    .well {
        padding-top: 62px;
    }

    .info_text p {
        font-size: 12px;
        line-height: 150%;
        font-family: Roboto;
    }

    .box {
        display: block;
        padding-top: 28px;
        margin-bottom: 46px;
    }

    .text {
        margin-bottom: 18px;
    }

    .info_text {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .img_cam {
        width: 168px;
        height: 158px;
        margin-left: 66px;
    }

    /* .list {
        display: block;
        align-items: center;
    } */

    .list_text {
        font-size: 12px;
        line-height: 130%;
    }

    .list_cam {
        width: 118px;
        height: 112px;
        margin-left: 26px;
        padding-right: 0;
        position: relative;
        /* bottom: 10px; */
    }

    .list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        position: relative;
    }

    .list_item {
        width: auto;
    }


    .list_item_one {
        margin-left: 0px;
        padding-top: 0px;
        margin-bottom: 10px;
        /* width: 100px; */
        margin-right: 26px;
    }

    .list_par {
        font-size: 11px;
        line-height: 130%;
    }

    .list li:first-child {
        order: 3;
    }    

    .list_item-text-one {
        margin-right: 30px;
    }

    /* .list_item-text-two {
        margin-top: 26px;
    } */    
}

/* @media screen and (max-width: 540px){
    .list_cam {
        margin-left: 300px;
        margin-right: 30px;
    }
    
} */